/* GENERAL */
.white {
  background-color: #1d0e01;
}

.center {
  text-align: center;
}

body, html{
  background-color: #1d0e01 !important;
  color: white;
}

h1, h2, h3, h4, h5 {
  color: #b49b57 !important;
}

p {
  color: #b49b57 !important;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .row-sm-no-padding {
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .container-no-padding {
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 100%;
  }
}

.dark {
  background-color: #808080;
  color: #1d0e01 !important;
}

/* NEWSLETTER SIGNUP */
.callToAction  a, .tryButton, .productButton {
  background: #b49b57;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  color: black;
}

.callToAction  a:hover,  .tryButton:hover, .productButton:hover {
  background: #b49b57;
  border: none;
  color: black;
}

h2, h3 {
  word-wrap: break-word;
}


/* Sections */

.emotional .text {
  color: black !important;
}

.actionShot {
  height: 36%;
  width: 100%;
  background-image: url(/assets/animation.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  .main-stage.emotional {
    background-position: -130px 0;
  }

  .hidden-xs {
    display: none;
  }
}

@media (min-width: 768px) {
  .hidden-md {
    display: none;
  }
}

.diamondIcon {
  width: 20px;
  height: auto;
}

.features {
  background: #1d0e01;
  text-align: center;
}

.features .text {
  color: #b49b57 !important;
}

.showroom .text {
  color: #b49b57 !important;
}

svg {
  fill: #b49b57;
}

div.emotional {
  color: black;
  background: #1d0e01;
}


.mobile-center {
  text-align: center;
  padding: 2em 0;
}

.mobile-center img {
  max-width: 40% !important;
  margin-right: 50%;
  transform: translateX(50%);
}

/* IMPRESSUM */
.footer {
  background-color: #1d0e01;
  text-align: center;
  padding: 1em;
}
.footer > span {
  color: black;
  font-size: 0.8em;
}

@media (min-width:801px)  { 
  img.stars {
    max-width: 30% !important;
  }

  .mobile-center {
    text-align: left;
    padding: 0;
  }

  .mobile-center img {
    max-width: 200px;
    margin-right: 0;
    transform: translateX(0);
  }
}